.mp{
    margin-top: 8vh;
    width: 100vw;
    height: 92vh;
    background-color: rgb(219, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        margin:10px 0;
    }
    h2{
        padding: 0 10vw;
        margin: 0;
    }
    h3{
        padding: 0 10vw;
    }
}