.head{
    width: 100vw;
    height: 8vh;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 3;
}
.logo{
    margin-left: 5%;
    display: flex;
    align-items: center;
}
.logo img{
    height: 8vh;
}
.nav{
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0,0.9);
    position: absolute;
    z-index: 2;
    width: 100vw;
    top: -100vh;
}
.nav a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding: 15px 0;
}
.but-nav{
    width: 4vh;
    height: 4vh;
    background-color: black;
    margin-right: 5%;
    border-radius: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bi-list{
    color: white;
}
.bi-x{
    color: white;
}
.close{
    display: none;
}